@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 8, 8, 0.952);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.h1{
    font-family: 'Aboreto', cursive;
    margin: 50px auto;
    -webkit-text-stroke: 0.1px #636;
    color: #000;  
}

.calculador-container{
    display: flex;
    background: #bbb;
    width: 700px;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 50px;
}

.calculador{
    background: none;
    display: flex;
    flex-direction: row;

}
.text{
    margin: 0 auto 20px;
    font-size: 1.1rem;
    line-height: 35px;
    text-align: center;
}
#valor{
    width:150px;
    margin: 3px;
    height: 30px;
    padding: 5px;
}
#calculo{
    width: 150px;
    height: 30px;
    margin: 3px;
    padding: 5px;
}
#btn{
    width: 70px;
    margin: 10px;
    height: 30px;
}
#resultado{
    margin: 40px auto 0px;
}
